:root{
    font-size: 100%;
}
body {
    margin: 0;
    background-image: url(image/backdesk.png);
    background-size: cover;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}
h2 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.75rem;
}
h2 span {
    text-decoration: underline;
    text-underline-offset: 1.125rem;
    text-decoration-color: rgba(248, 127, 40, 1);
}
header {
    padding: 0rem 3.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 4.375rem;
}
header h2 {
    margin-right: 6.25rem;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #FFFFFF;  
}
header p {
    margin-right: 2.875rem;
}
header img{
    margin-right: 0.6094rem;
}
#menu {
    margin-left: 64.8125rem;
    margin-right: 0rem;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.box {
    display: grid;
    grid-template-columns: repeat(1,8fr);
}
.acceuil {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    box-sizing: border-box;
}
.text {
    padding-left: 24.25rem;
    margin-right: 0.9375rem;
    width: 37.8125rem;
}
.text p span {
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: rgba(248, 127, 40, 1);
    text-decoration-thickness: 0.1875rem;
}
.text p:first-child {
    font-family: 'Roboto';
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2.0625rem;
}
.text p:nth-child(3){
    margin-top: 0rem;
    margin-right: 10rem;
    margin-bottom: 1.5rem;
}
.text p:nth-child(4){
    margin-top: 0px;
    margin-bottom: 3.75rem;
}
.text p:nth-child(5){
    margin-top: 0;
    margin-bottom: 1.3125rem;
}
.text h1{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.1875rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 2.4375rem;
}
.text h1 span {
    color: #F87F28;
    font-weight: 700;
}
#rouge{
    background: #BB2323;
    box-shadow: 0rem 0rem 1.875rem rgba(0, 0, 0, 0.2);
    border-radius: 3.125rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 0.875rem;
    color: #FFFFFF;
    display: inline-block;
}
.text a:nth-child(2) {
    border: 0.125rem solid #F87F28;
    border-radius: 3.125rem;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #F87F28;
    padding: 0.75rem 2rem;
    margin-left: 1.4375rem;
    text-decoration: none;
    display: inline-block;
}
.image {
    display: flex;
    justify-content: flex-end;
}
.client{
    grid-row-start: 2 ;
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.client p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.9375rem;
    text-align: center;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    color: #BFBFBF;
    margin-right: 26.875rem;
    margin-top: 12.625rem;
    margin-left: 25rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.logo img {
    margin-right: 3.75rem;
    margin-bottom: 3.75rem;
}
.logo img:nth-child(1) {
    width: 109px;
}
.logo img:nth-child(2) {
    width: 73.5px;
}
.logo img:nth-child(3) {
    width: 205.31px;
}
.logo img:nth-child(4) {
    width: 167.11px;
}
.logo img:nth-child(5) {
    width: 131.2px;
}
.logo img:nth-child(6) {
    width: 158.57px;
}
.services {
    margin-left: 25.1875rem;
    margin-right: 25.125rem;
}
.skill {
    margin-top: 9.5rem;
    margin-bottom: 8.25rem;
    text-align: center;
    padding: 0rem 23.125rem;
}
.skill h2 {
    margin-bottom: 2.8125rem;
    margin-top: 0;
 }
.skill p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.tableau {
    display: flex;
    justify-content: center;
    margin-bottom: 13.5rem;
}
#col {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#col img{
    background: #FFFFFF;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 1.125rem;
    padding: 1rem;
}
#col h3 {
    margin-top: 2.1875rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
}
#col p {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
#col:first-child p {
    margin-right: 7.1875rem;
}
#col:nth-child(2) p {
    margin-right: 7rem;
}
#col:nth-child(3) p {
    margin-right: 7rem;
}
.portfolio {
    padding-top: 6.75rem;
    padding: 6.75rem 21.875rem 14.8125rem 23.25rem;
    display: flex;
    justify-content: center;
}
.textportfolio {
    padding-right: 4.8125rem;
}
.textportfolio h2 {
    margin-top: 0;
    margin-bottom: 2.0131rem;
}
.textportfolio p {
    margin-top: 0;
    margin-right: 2.0169rem;
    font-size: 0.875rem;
}
#astronaute {
    width: 480px;
}
#hello {
    width: 227px;
}
#astronaute,#hello {
   margin-bottom: 1.5rem;
   margin-right: 1.5rem;
   
}
#bureaux {
    width: 227px;
}
#waterbox {
    width: 479px;
}
#bureaux,#waterbox {
    margin-bottom : 1.5rem;
}
#writing {
    margin-right: 1.5rem;
    width: 347px;
}
#blue {
    width: 359px;
}
.experience {
    display: flex;
    padding-left: 24.375rem;
    padding-right: 22.5rem;
    padding-bottom: 7.875rem;
}
.experiencetext {
    padding-right: 7.5625rem;
}
.experiencetext h2 {
    margin-top: 0;
    margin-bottom: 2.9375rem;
}
#descriptionexperience {
    margin-top: 0;
    margin-bottom: 2.5625rem;
    margin-right: 7.5625rem;
}
.experiencetext p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
}
.experiencetableau {
    display: grid;
    grid-template-columns: repeat(2,3fr);
}
.experiencedate {
    padding-right: 4.6875rem;
}
.experiencedate p {
    margin-top: 0rem;
    margin-bottom: 0.8125rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.0625rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.experiencedate  p  img {
    margin-right: 1.6875rem;
    margin-bottom: -0.3125rem;
}
.experiencedate h3 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 6.75rem;
    margin-left: 3.125rem;
}
.experiencedescription p {
    margin-top: 0;
    margin-bottom: 75px;
    font-size: 0.875rem;
}
.experiencedescription p:nth-child(2) {
    margin-bottom: 7.625rem;
}
.compétences {
    display: flex;
    padding: 0rem 23.9375rem 6.8125rem 24.0625rem;
}
.compétences p span {
    background: #F87F28;
    border-radius: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
    color: #2C2C2C;
    font-weight: 600;
    padding: 0.0625rem 0.75rem;
}
.imagecompétences {
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-sizing: border-box;
}
.imagecompétences p {
    margin-bottom: 1.5rem;
}
.block {
    display: flex;
    align-items: center;
}
#Angular {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.5rem;
    padding: 1.125rem 1.5625rem 1.125rem 1.4187rem;
    margin-top: 0;
    margin-right: 1.5625rem;
}
#Angular img {
    margin-right: 2rem;    
}
#Angular span {
    margin-left: 5.6875rem;
}
#React {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.5rem;
    padding: 1.125rem;
    margin-top: 0;
    margin-right: 5.8125rem;
}
#React img {
    margin-right: 1.4375rem;
}
#React span {
    margin-left: 11rem;
}
#NodeJS {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.75rem;
    padding: 1.125rem;
    margin-right: 1.5625rem;
}
#NodeJS img {
    margin-right: 1.5625rem;
}
#NodeJS span {
    margin-left: 1.2669rem;
}
#Management {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.75rem;
    padding: 1.125rem;
    margin-right: 13.3125rem;
}
#Management img {
    margin-right: 1.975rem;
}
#Management span {
    margin-left: 3.5625rem;
}
#Analytics {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.5rem;
    padding: 1.125rem;
    margin-right: 2.1875rem;
}
#Analytics img {
    margin-right: 1.875rem;
}
#Analytics span {
    margin-left: 3.625rem;
}
#Brainstroming {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.625rem;
    padding: 1.125rem;
    margin-right: 9.75rem;
}
#Brainstroming img {
    margin-right: 1.7944rem;
}
#Brainstroming span {
    margin-left: 2.375rem;
}
#Execution {
    background: #2C2C2C;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 0.625rem;
    width: 482px;
    padding: 1.125rem;
    margin-right: 20rem;
}
#Execution img {
    margin-right: 2rem;
}
#Execution span {
    margin-left: 16.875rem;
}
.temoignages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 9.3125rem 31.9375rem 11.79rem 31.375rem;
}
.temoignages h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.75rem;
    margin-bottom: 5.625rem;
    margin-top: 0;

}
#textimagetemoignages {
    display: flex;
}
.temoignages img {
    margin-right: 2.5rem;
    border-radius: 3.75rem 1.5625rem 3.75rem 3.75rem;
}
#texttemoignages p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 2.335rem;
    padding-right: 2.9375rem;
    font-style: italic;
    font-size: 1.3125rem;
    line-height: 2.25rem;
}
#texttemoignages p:nth-child(2) span {
    text-decoration: underline;
    text-underline-offset: 1.0625rem;
    text-decoration-color: rgba(248, 127, 40, 1);
    text-decoration-thickness: 0.1875rem;
}
#texttemoignages p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0.3125rem;
    margin-left: 10rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}
#texttemoignages p:nth-child(4) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10rem;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: 0.0313rem;
} 
.actualité {
    display: flex;
    padding: 7.9887rem 40.0625rem 20.665rem 23.9375rem ;
    box-sizing: border-box;
}
#actualité-left {
    margin-right: 5.7912rem;
}
#actualité-left h2{
    margin: 0;
}
#actualité-right {
    padding-top: 1.25rem;
}
#date-actualité {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.0625rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: #F87F28 ;
    margin-top: 0rem;
    margin-bottom: 0.4375rem;
}
#titreactualité {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0.8125rem;
}
#textactualité {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding-right: 5.375rem;
}
#textactualité p {
    padding-right: 5.375rem;
}
.contact {
    display: flex;
    padding: 0rem 22.75rem 3.125rem 24.1875rem;
    column-gap: 10.6875rem;
    box-sizing: border-box;
}
#contact-left h3 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.75rem;
    text-transform: capitalize;
    color: #BFBFBF;
    margin-top: 0;
    margin-bottom: 1.875rem;
}
#imagecontact {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -0.01em;
    color: #F87F28;
    margin: 0;
}
#imagecontact img {
    background: #F87F28;
    border-radius: 3.125rem 1.25rem 3.125rem 3.125rem;
    padding: 0.6875rem;
    margin-right: 1.5rem;
}
#info {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
    padding-left: 4.0625rem;
    margin-bottom: 2.5rem;
}
#contact-right h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.0625rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.75rem;
}
#contact-right p:nth-child(2){
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
}
#contact-right p:nth-child(3) {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 4.6875rem;
}
.formulaire {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 1.5rem;
}
#nom,#email,#message {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.875rem;
    color: #E5E9F1;
}
#nom {
    margin-right: 4.375rem;
    width: 253px;
}
#message {
    margin-bottom: 1.75rem;
}
#nom fieldset {
    border: 0.0625rem solid #828282;
    border-radius: 0.25rem;
}
#email fieldset {
    border: 0.0625rem solid #828282;
    border-radius: 0.25rem;
}
#message fieldset {
    border: 0.0625rem solid #828282;
    border-radius: 0.25rem;
}
textarea {
    background: transparent;
    border: 0;
}
@media screen and (max-width: 375px) {
    .box {
        display: block;
        width: 375px;
    }
    .compétences, header p:nth-child(2),header p:nth-child(3),.image,.temoignages img, .experiencedescription,#contact-right h3{
        display: none;
    }
    body {
        margin: 0;
        background-image: url(image/media-queries.jpg);
        
        font-size: 14px;
    }
    header {
        padding: 22px 22px 49px 30px;
        margin: 0;
    }
    header h2{
        margin-right: 171.84px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 0;
    }
    #menu {
        margin: 0;
        display: flex;
        width: 49px;
    }
    header img {
        margin: 0;
        background: #F87F28;
        padding: 17px;
        width: 19.1px;
        border-radius: 50%;
    }
    .acceuil {
        padding: 0 27px 72px 27px;
        display: block;
        width: 375px;
    }
    .text {
        padding: 0;
        margin: 0;
        width: 321px;
    }
    .text h1 {
        font-size: 40px;
        margin-bottom: 36.44px;
        line-height: 65px;
    }
    .text h1 span {
        font-size: 72px;
        letter-spacing: -1px;
    }
    .text p:first-child {
        margin-bottom: 8.11px;
    }
    .text p:nth-child(3) {
        font-size: 16px;
        margin-right: 0px;
    }
    .text a:nth-child(2) {
        margin-left: 23px;
        margin-right: 46px;
    }
    .text p:nth-child(5) {
        margin-bottom: 67.3px;
    }
    .client p {
        margin: 0 0 45.21px 0;
        text-align: start;

    }
    .logo {
        display: grid; 
        grid: 1fr 1fr 1fr/ 1fr 1fr;
        box-sizing: border-box;
    }
    .logo img {
        margin: 0;
    }
    .logo img:nth-child(1){
        width: 110.78px;
        margin-left: 40px;
    }
    .logo img:nth-child(2) {
        width: 83px;
        margin-left: 40px;
    }
    .logo img:nth-child(3) {
        width: 187.5px;
    }
    .logo img:nth-child(4) {
        width: 152.49px;
    }
    .logo img:nth-child(5){
        margin-left: 40px;
        width: 131.2px;
    }
    .services {
        margin: 0px;
        padding: 0px 26px 49px 27.85px ;
    }
    .portfolio {
        padding: 0 31.73px 83.35px 29.51px;
        flex-direction: column;
    }
    #astronaute,#hello,#bureaux,#waterbox,#writing,#blue {
        width: 313.76px;
    }
    .textportfolio {
        padding: 0px 0px 41px 0px;
    }
    .textportfolio p {
        margin: 0px;
    }
    .skill {
        padding: 0;
        margin-top: 0;
        margin-bottom: 40.79px;
    }
    .tableau {
        flex-direction: column;
        margin-bottom: 0px;
    }
    #col h3 {
        margin-top: 8.2px;
        margin-bottom: 16px;
    }
    #col:first-child p {
        margin-right: 58px;
    }
    #col:nth-child(2) p {
        margin-right: 0px;
    }
    #col:nth-child(3) p {
        margin-right: 34px;
    }

    .experience {
        padding: 0px 37.5px 60px 29.5px;
        flex-direction: column;
    }
    
    .experiencedate {
        padding: 0;
    }
    
    .experiencetext {
        padding: 0;
    }
    .experiencetext h2 {
        margin-bottom: 47px;
    }
    #descriptionexperience {
        margin-right: 65.5px;
    }
    .temoignages {
        padding: 0px 37.5px 82px 38px;
        text-align: start;
    }
    .temoignages h2 {
        text-align: start;
        margin-bottom: 53px;
    }
    #texttemoignages p:nth-child(2) {
        padding: 0px;
    }
    #texttemoignages p:nth-child(2) span {
        text-decoration: none;
    }
    #texttemoignages p:nth-child(3) {
        margin: 0px;
    }
    #texttemoignages p:nth-child(4) {
        margin: 0px;
    }
    .actualité {
        padding: 0px  37.5px 61.18px 38px;
        flex-direction: column;
    }
    #actualité-right {
        padding-top: 31px;
    }
    #textactualité {
        padding-right: 0px;
        margin-right: 100px;
    }
    .contact {
        padding: 0px ;
        flex-direction: column;
        padding: 0px 37.5px 25.78px 29.29px;
    }
    #contact-left h3 {
        margin-bottom: 26px;
    }
    #imagecontact {
        display: flex;
        align-items: center;
    }
    #info {
        font-size: 16px;
        margin-bottom: 41px;
    }
    .formulaire {
        flex-direction: column;
        margin: 0px;
    }
    #nom {
        margin-right: 0px;
    }
    .skill {
        text-align: start;
    }
    #message fieldset {
        width: 250px;
        margin: 0px 37.5px 0 29.29px;
    }
    #message textarea {
        width: 250px;
        min-height: 155px;
    }

}