:root{
    font-size: 100%;
}
body {
    margin: 0;
    background-image: url(image/backdesk.png);
    background-size: cover;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}
h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
}
h2 span {
    text-decoration: underline;
    text-underline-offset: 1.125rem;
    text-decoration-color: rgba(248, 127, 40, 1);
}
header {
    padding: 0rem 3.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}
header h2 {
    margin-right: 100px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #FFFFFF;  
}
header p {
    margin-right: 46px;
}
header img{
    margin-right: 0.6094rem;
}
#menu {
    margin-left: 64.8125rem;
    margin-right: 0rem;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.box {
    display: grid;
    grid-template-columns: repeat(1,8fr);
}
.acceuil {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    box-sizing: border-box;
}
.text {
    padding-left: 24.25rem;
    margin-right: 0.9375rem;
    width: 37.8125rem;
}
.text p:first-child {
    font-family: 'Roboto';
    font-size: 0.875rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2.0625rem;
}
.text p:nth-child(3){
    margin-top: 0rem;
    margin-right: 160px;
    margin-bottom: 1.5rem;
}
.text p:nth-child(4){
    margin-top: 0px;
    margin-bottom: 3.75rem;
}
.text p:nth-child(5){
    margin-top: 0;
    margin-bottom: 1.3125rem;
}
.text h1{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.1875rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 2.4375rem;
}
.text h1 span {
    color: #F87F28;
    font-weight: 700;
}
#rouge{
    background: #BB2323;
    box-shadow: 0rem 0rem 1.875rem rgba(0, 0, 0, 0.2);
    border-radius: 3.125rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 0.875rem;
    color: #FFFFFF;
    display: inline-block;
}
.text a:nth-child(2) {
    border: 0.125rem solid #F87F28;
    border-radius: 3.125rem;
    font-family: 'Roboto';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #F87F28;
    padding: 0.75rem 2rem;
    margin-left: 1.4375rem;
    text-decoration: none;
    display: inline-block;
}
.image {
    display: flex;
    justify-content: flex-end;
}
.client{
    grid-row-start: 2 ;
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.client p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.9375rem;
    text-align: center;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    color: #BFBFBF;
    margin-right: 430px;
    margin-top: 12.625rem;
    margin-left: 400px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.logo img {
    margin-right: 3.75rem;
    margin-bottom: 3.75rem;
}
.services {
    margin-left: 403px;
    margin-right: 402px;
}
.skill {
    margin-top: 9.5rem;
    margin-bottom: 8.25rem;
    text-align: center;
    padding: 0px 370px;
}
.skill h2 {
    margin-bottom: 45px;
    margin-top: 0;
 }
.skill p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
}
.tableau {
    display: flex;
    justify-content: center;
    margin-bottom: 13.5rem;
}
#col {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#col img{
    background: #FFFFFF;
    box-shadow: 0rem 0rem 1.8125rem rgba(68, 88, 144, 0.12);
    border-radius: 1.125rem;
    padding: 1rem;
}
#col h3 {
    margin-top: 35px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
#col p {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
#col:first-child p {
    margin-right: 115px;
}
#col:nth-child(2) p {
    margin-right: 112px;
}
#col:nth-child(3) p {
    margin-right: 112px;
}
.portfolio {
    padding-top: 6.75rem;
    padding: 6.75rem 23.4375rem 15.3125rem 18.625rem;
    display: flex;
    justify-content: center;
}
.textportfolio {
    padding-right: 77px;
}
.textportfolio h2 {
    margin-top: 0;
    margin-bottom: 2.0131rem;
}
.textportfolio p {
    margin-top: 0;
    margin-right: 2.0169rem;
    font-size: 0.875rem;
}
.imageportfolio img {
    margin-right: 24px;
    margin-bottom: 1.5rem;
}
.experience {
    display: flex;
    padding-left: 390px;
    padding-right: 360px;
}
.experiencetext {
    padding-right: 121px;
}
.experiencetext h2 {
    margin-top: 0;
    margin-bottom: 47px;
}
#descriptionexperience {
    margin-top: 0;
    margin-bottom: 41px;
    margin-right: 121px;
}
.experiencetext p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
}
.experiencetableau {
    display: grid;
    grid-template-columns: repeat(2,3fr);
}
.experiencedate {
    padding-right: 75px;
}
.experiencedate p {
    margin-top: 0px;
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.experiencedate  p  img {
    margin-right: 27px;
}
.experiencedate h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 115px;
    margin-left: 50px;
}
.experiencedescription p {
    margin-top: 0;
    margin-bottom: 90px;
    font-size: 14px;
}
.experiencedescription p:nth-child(2) {
    margin-bottom: 140px;
}